[workspace]
members = [
  "crates/rex-core",
  "crates/rex-client",
  "crates/rex-server",
  "crates/rex-test",
  "bindings/rex4p",
  "bindings/rex4j",
]
resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2024"

[workspace.lints.clippy]
unwrap_used = "deny"
expect_used = "deny"
panic = "deny"

[workspace.dependencies]
tokio = { version = "1.48", features = ["full"] }
quinn = "0.11"
rustls = { version = "0.23", default-features = false }
rcgen = "0.14"
bytes = "1.11"
dashmap = "6.1"
ahash = "0.8"
uuid = { version = "1.18", features = ["v4"] }
anyhow = "1.0"
tracing = "0.1"
tracing-subscriber = "0.3"
async-trait = "0.1"
thiserror = "2.0"
itertools = "0.14"
clap = { version = "4.5", features = ["derive"] }
hdrhistogram = "7.5"
rand = "0.9"
crc32fast = "1.5"
tokio-tungstenite = "0.28"
futures-util = "0.3"
strum = "0.27"
strum_macros = "0.27"
serde = { version = "1.0", features = ["derive"] }
toml = "0.9"
parking_lot = "0.12"

[profile.dev]
opt-level = 0
debug = true
lto = false

[profile.release]
opt-level = 3
debug = false
lto = "thin"

[profile.bench]
inherits = "release"
debug = true
