[package]
name = "rex_mq"
version = "0.1.0"
edition = "2024"

[dependencies]
tokio = { version = "1.47", features = ["full"] }
quinn = "0.11"
rustls = { version = "0.23", default-features = false }
rcgen = "0.14"
bytes = "1.10"
dashmap = "6.1"
uuid = { version = "1.18", features = ["v4"] }
anyhow = "1.0"
tracing = "0.1"
tracing-subscriber = "0.3"
async-trait = "0.1"
thiserror = "2.0"
itertools = "0.14"

[profile.dev]
opt-level = 0 # 编译快，调试方便
debug = true
lto = false

[profile.release]
opt-level = 3 # 高优化
debug = false
lto = "thin"

[profile.bench]
inherits = "release"
debug = true         # 保留符号方便分析
